@import "tailwindcss";

@theme {
  --color-black: #081319,
  --color-white: #ffffff,
  --color-hover: #D79574,
  --color-main: #EACCB6,

  --breakpoint-*: initial,
  --breakpoint-xs: [375px],
  --breakpoint-xl: 90rem,
}






