@import "tailwindcss";

@theme {
  --color-black: #081319;
  --color-white: #ffffff;
  --color-hover: #D79574;
  --color-main: #EACCB6;

  --breakpoint-xs: 375px;
  --breakpoint-xl: 1440px;
}

@layer base {
  a,
  button {
    @apply cursor-pointer transition-colors duration-500 ease-in-out;
  }
}






